.container {
  color: black;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 1.625rem 6.25rem;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list {
  cursor: pointer;
  margin: 0 20px;
}

.list li a {
  text-decoration: none;
  color: red;
}

.divider {
  color: #078ed1;
  font-size: 25px;
}

.banner {
  background-image: url(./assets/Home.jpg);
  height: 47.5rem;
}

.text {
  color: #fff;
  margin-left: 6.25rem;
  margin-top: -366px;
}

.text .text-1 {
  font-size: 64px;
  letter-spacing: -0.03em;
  line-height: 74px;
}

.text .text-2 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.button {
  background: #34af3a;
  color: #fff;
  margin-top: 20px;
  border-radius: 0;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 0.02em;
  line-height: 23px;
  padding: 14px 16px;
  border: none;
  cursor: pointer;
}

.box {
  width: 85%;
  height: auto;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 60px;
  background: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.06),
    0px 6px 30px rgba(0, 0, 0, 0.12), 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.box .content-container {
  display: flex;
}

.box-image {
  width: 37.3rem;
  height: auto;
}
.text-container {
  padding: 10px;
}

.title {
  font-size: 32px;
  line-height: 42px;
  font-weight: normal;
  margin-top: 15px;
  border-bottom: 2px solid #078ed1;
}

.vision {
  color: #078ed1;
  line-height: 34px;
  font-size: 24px;
  font-weight: 500px;
  border-left: 2px solid #078ed1;
  padding: 8px 10px;
}

.about-text {
  font-size: 1.125rem;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-top: 10px;
  width: 37rem;
}

.box-2 {
  width: 85%;
  height: auto;
  align-items: center;
  margin-bottom: 40px;
  background: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.06),
    0px 6px 30px rgba(0, 0, 0, 0.12), 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.value-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.value-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.value-content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.value-content button {
  margin: 15px 0;
  background: #078ed1;
  color: #fff;
  border-radius: 0 10px 0 10px;
  padding: 10px;
  border: none;
  font-size: 18px;
}

.value-content text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 298px;
}

.value-content img {
  width: 120px;
  height: 120px;
}

.box-3 {
  width: 85%;
  height: auto;
  align-items: center;
  margin-bottom: 40px;
  background: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.06),
    0px 6px 30px rgba(0, 0, 0, 0.12), 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.box-3-container {
  display: flex;
  justify-content: space-between;
}

.misson-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-3-container img {
  width: 100%;
  height: auto;
  max-width: 718px;
}

/* .text-mission-container {
  display: flex;
  text-align: left;
  margin-left: 28.15px;
} */

.mission-list {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-top: -25px;
  padding-right: 20px;
}

.box-3-container ol li {
  width: 100%;
  height: auto;
  left: 31.15px;
  margin: 15px 0;
}

.box-4 {
  width: 85%;
  height: auto;
  align-items: center;
  margin-bottom: 40px;
  background: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.06),
    0px 6px 30px rgba(0, 0, 0, 0.12), 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.box-4-container {
  display: flex;
  justify-content: space-evenly;
}

.box-4-container .team-text {
  width: 383px;
  left: 31.15px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-top: -15px;
  margin-left: 11.15px;
  padding: 20px 20px;
}

.team-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;
}
.team-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 7px;
}

.team-container img {
  width: 252px;
  height: auto;
}

.footer {
  height: 312px;
  width: 100%;
  background: #fff;
  box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.06),
    0px -6px 30px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  width: 265px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  margin-top: -60px;
}

.info {
  display: flex;
  border-top: 2px solid #078ed1;
  padding-top: 20px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-left: 500px;
  font-weight: 600;
}

.contact div {
  display: flex;
  font-size: 18px;
  margin-bottom: 20px;
}

.contact text {
  margin-left: 7px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  margin-top: -25px;
}

@media (max-width: 1024px) {
  .container {
    width: auto;
  }
  .banner {
    height: 568px;
  }
  .navbar {
    justify-content: center;
    align-items: center;
  }
  .menu {
    display: none;
  }

  .text {
    margin-left: 2.25rem;
    margin-top: -520px;
  }

  .text .text-1 {
    font-size: 32px;
    letter-spacing: -0.03em;
    line-height: 41px;
    margin-bottom: 190px;
  }

  .text .text-2 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    width: 258px;
  }

  .box {
    height: 100%;
    margin-top: 40px;
  }

  .box .content-container {
    display: flow-root;
  }

  .box-image {
    width: 100%;
    height: auto;
  }

  .title {
    align-items: flex-start;
    text-align: left;
  }

  .text-container {
    padding: 15px;
  }

  .about-text {
    width: 296px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .box-2 {
    height: 100%;
  }

  .value-container {
    flex-wrap: wrap;
  }

  .value-content {
    margin: 10px 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .value-content text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    width: 171px;
  }

  .value-content img {
    width: 92px;
    height: 92px;
  }

  .value-content div {
    text-align: left;
    align-items: flex-start;
    margin-left: 15px;
  }

  .box-3 {
    height: 100%;
  }

  .box-3-container {
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }

  .text-mission-container {
    margin-left: 6px !important;
  }

  .box-3-container img {
    width: 100%;
    height: auto;
  }

  .mission-list {
    padding: 30px 0;
    margin-top: -70px;
    font-size: 14px;
    line-height: 20px;
    margin-left: 20px;
  }

  .box-3-container ol li {
    width: 275px;
    height: auto;
    margin: 15px 0;
  }

  .box-4 {
    height: 100%;
  }

  .box-4-container {
    flex-wrap: wrap-reverse;
  }

  .box-4-container .team-text {
    padding: 30px 10px;
    font-size: 14px;
    line-height: 20px;
  }

  .team-container {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .team-content {
    margin: 10px 0;
    flex-direction: row;
    align-items: flex-end;
    text-align: start;
  }

  .team-content text {
    width: 140px;
  }

  .team-container img {
    width: 139px;
    height: auto;
    margin-right: 10px;
  }

  .footer {
    height: auto;
    width: 100%;
  }

  .footer-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .info {
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
  }

  .contact {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .contact div {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-container img {
    width: 219px;
    height: auto;
  }
  .copyright {
    font-size: 12px;
  }
}
